$dark: #0a1128;
$darkblue: #001f54;
$blue: #034078;
$bluegreen: #1282a2;
$turquoise: #55ceef;
$ghostwhite: #f8f9fe;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background: $ghostwhite;
}

form {
    font-size: 14px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    background: #fff;
    
    h1 {
        display: flex;
        justify-content: center;
        color: $dark;
        font-size: 24px;
        margin: 20px;
    }

    .input-group {
        display: flexbox;
        justify-content: center;
        width: 100%;
        padding: 10px 0;

        input {
            font-size: 14px;
        }

        .icon {
            padding: 10px;
            color: #fff;
            // background: #e8e8ea;
            background: $blue;
            min-width: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .icon-password {
            padding: 10px;
            background: white;
            color: #000;
            min-width: 50px;
            text-align: center;
        }

        .invalid-feedback{
            color: #ff606e;
        }
        
        .valid-feedback{
        color: #2acc80;
        }
    }

    .btn-display {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        .btn {
            width: 200px;
            font-size: 14px;
            background: $blue;
            &:hover {
                background: $darkblue;
            }
        }
      
    }
   
}